/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


/* tags */
body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #264653;
}

.heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
}

header .muted {
  color: #e0e0e0;
}

.button {
  background-color: #e76f51;
  height: 44px;
  width: 168px;
  color: white;
}

/* Styles */
.grayscale {
  filter: grayscale(100%);
}
